:root {
    --primary-color: #ff7f78;
    --secondary-color: #327d85;
    --tertiary-color: #8C81DA;
    --block-color: #758175;
  }

* { 
	box-sizing: border-box;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding:4rem;
}

p{
    font-weight: 500;
}

.book {
    border: solid 5px white;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 25rem;
    list-style: none;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--block-color);
    border-radius: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .book:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }

.link{
    position: absolute;
    margin-left:45%;
    
    text-decoration: none;
}