:root {
    --primary-color: #ff7f78;
    --secondary-color: #327d85;
    --tertiary-color: #8C81DA;
    --block-color: #758175;
    --quarternary-color: #73b0b7;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
  }

ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
    padding:4rem;
}

p{
    margin-bottom: 0.5rem;
}

.book {
    border: solid 5px white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    width: 12rem;
    height: 15rem;
    list-style: none;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;;
    background-color: var(--quarternary-color);
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
  }

  .book:hover {
    transform: scale(1.1);
    
  }

.link{
    /* margin-left:45%; */
  position: absolute;
  top: 1rem;
  left: 16px;
  font-size: 20px;
  text-decoration: none; 
  padding: 1rem;
  margin: 0 auto;
  color: black;
  background: #ffa580;
  letter-spacing: 0.1rem;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}

.link:hover{
  background: black;
  color: white;
  border: 1px solid black;
}


/* form design */


body {
  background: url("formbackground.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.form {
  background: #9adfd4;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #ffa580;
}

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 2rem;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
  font-size: 20px;
}
button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

label {
  font-size: 1.2rem;
}

select{
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 14pt;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

